<% if User.current.logged? && User.current.pref.enabled_fixed_header.to_i>0 %>
<div id="fixed-header" class="issue" style="display: none;">
  <p><%= @issue.tracker %> #<%= @issue.id %> <%= ("( " + @issue.status.name + " )") unless issue.status.nil? %></p>
  <h3><%= @issue.subject %></h3>
  <%= render :partial => 'action_menu' %>
</div>
<style type="text/css">
  #fixed-header{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 5px 10px;
    margin: 0px;
    border-top-style: none;
    box-shadow: 0px 4px 5px -5px #D0D0D0;
  }
  #fixed-header p{
    color: darkgray;
    margin: 0px;
    font-size: 10px;
  }
  #fixed-header h3{
    margin: 3px 0px 0px 0px;
    padding: 0px;
    font-size: 14px;
  }
  #fixed-header div.contextual{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 5px;
    margin-right: 5px;
    opacity: 0.2; 
    transition: 0.2s ease-out;
  }
  #fixed-header:hover div.contextual{
    opacity: 1;
  }
</style>
<script type="text/javascript">
  (function(){
    var onScroll = function(){
      var header = $("div#fixed-header");
      if(header.is(":hidden")){
        if($(".subject div h3").offset().top < $(document).scrollTop()){
          header.show("slide", { direction : "up" }, 200);
        }
      }else{
        if($(".subject div h3").offset().top >= $(document).scrollTop()){
          header.hide();
        }
      }
    };

    var onResize = function(){
      var header = $("div#fixed-header");
      var content = $("#content");
      var topMenu = $("#top-menu");
      header.css("width", content.innerWidth() - parseInt(header.css("paddingLeft")) - parseInt(header.css("paddingRight")));
      header.css("left", content.position().left);
      if(topMenu.css("position") == "fixed"){
        header.css("top", topMenu.outerHeight());
      }

      header.css("borderLeftWidth", content.css("borderLeftWidth"));
      header.css("borderLeftColor", content.css("borderLeftColor"));
      header.css("borderLeftStyle", content.css("borderLeftStyle"));
      header.css("borderRightWidth", content.css("borderRightWidth"));
      header.css("borderRightColor", content.css("borderRightColor"));
      header.css("borderRightStyle", content.css("borderRightStyle"));
    };

    $(window).load(function(){
       onResize();
       onScroll();
       $(window).resize(onResize);
       $(window).scroll(onScroll);
    });
  })();
</script>
<% end %>
